{% extends 'base.html' %}
{% load schedule_extras %}

{% block content %}

<div class="calendar-container">
    <div class="calendar-header">
        <button class="btn btn-light">Today</button>
        <div class="ico-arrow">
            <a href="{% url 'schedule:monthly' today|convert_pre_year today|convert_pre_month today.2 %}"
               data-toggle="tooltip" data-placement="top" title="이전">
                <i class="material-icons">
                    chevron_left
                </i>
            </a>
            <a href="{% url 'schedule:monthly' today|convert_next_year today|convert_next_month today.2 %}"
               data-toggle="tooltip" data-placement="top" title="다음">
                <i class="material-icons">
                    chevron_right
                </i>
            </a>
        </div>
        <h4>{{ today.0 }}년 {{ today.1 }}월</h4>
        <ul class="nav nav-tabs view-tab" id="view" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                   aria-controls="month"
                   aria-selected="true">월</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                   aria-selected="false">일</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active show" id="month" role="tabpanel" aria-labelledby="tab-month">
            <div class="monthly-calendar">
                <div class="week-day">
                    <div class="day-name">일</div>
                    <div class="day-name">월</div>
                    <div class="day-name">화</div>
                    <div class="day-name">수</div>
                    <div class="day-name">목</div>
                    <div class="day-name">금</div>
                    <div class="day-name">토</div>
                </div>


                {% for week in week_list %}
                <div class="week">
                    {% for day in week %}
                    <div class="day">
                        <h3 class="day-label">{{ day.1 }}</h3>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
        <!--            여기까지가 캘린더-->
    </div>
</div>

<!--여기서부터 modal-->
<div class="modal fade" id="registerSchedule" tabindex="-1" role="dialog" aria-labelledby="registerScheduleLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerScheduleLabel">일정 만들기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'schedule:create_schedule' %}" method="POST">
                    <div class="form-group">
                        <label class="col-form-label">일정 제목</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">일정 설명</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 시작 날짜</label>
                                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker1"/>
                                    <div class="input-group-append" data-target="#datetimepicker1"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">
                                            calendar_today
                                        </i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 시작 시간</label>
                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker2"/>
                                    <div class="input-group-append" data-target="#datetimepicker2"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">
                                            access_time
                                        </i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 종료 날짜</label>
                                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker3"/>
                                    <div class="input-group-append" data-target="#datetimepicker3"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">
                                            calendar_today
                                        </i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">일정 종료 시간</label>
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker4"/>
                                    <div class="input-group-append" data-target="#datetimepicker4"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="material-icons">
                                            access_time
                                        </i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="unchecked">
                            <label class="form-check-label" for="inlineCheckbox1">매월 반복</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unchecked">
                            <label class="form-check-label" for="inlineCheckbox2">하루 종일</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary submit">일정 만들기</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
csrf_token = "{{ csrf_token }}"
schedules = {{ monthly_schedule|safe }}
week_list =  {{ week_list }}
year = {{ today.0 }}
month = {{ today.1 }}

$(function(){

    schedules.forEach(function (schedule){

        for(i in schedule['schedule_bars']){
            var $scheduleBar = schedule['schedule_bars'][i];

            $(".day").eq(schedule['start_points'][i]).append($scheduleBar);

        };
    });


    $('#inlineCheckbox1').click(function(){
        $("#inlineCheckbox1").val() == "unchecked" ? $("#inlineCheckbox1").val("checked") : $("#inlineCheckbox1").val("unchecked");
    });

    $('#inlineCheckbox2').click(function(){
        $("#inlineCheckbox1").val() == "unchecked" ? $("#inlineCheckbox1").val("checked") : $("#inlineCheckbox1").val("unchecked");
    });


    $('button.submit').click(function(){

        url = $('form').attr('action');

        $.ajax({
            url: url,
            method : 'POST',
            data : {csrfmiddlewaretoken: csrf_token,
                    schedule_name: $('#recipient-name').val(),
                    schedule_description: $('#message-text').val(),
                    start_date: $('#datetimepicker1').children('input').val(),
                    start_time: $('#datetimepicker2').children('input').val(),
                    end_date: $('#datetimepicker3').children('input').val(),
                    end_time: $('#datetimepicker4').children('input').val(),
                    monthly_repeat: $('#inlineCheckbox1').val(),
                    is_all_day: $('#inlineCheckbox2').val(),
                    },
            success : function(response){
                $('#registerSchedule').modal("hide")
                location.reload();
            }
        });
    });
});
</script>

{% endblock %}