{% extends 'base.html' %}

{% block content %}

<div class="calendar-container">
    <div class="calendar-header">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest" >
                    <input type="hidden" class="datetimepicker-input"
                                           data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="material-icons">
                            calendar_today
                            </i>
                        </div>
                    </div>
                </div>
        <button class="btn btn-light">Today</button>
        <div class="ico-arrow">

            <a href="#"
               data-toggle="tooltip" data-placement="top" title="이전">
                <i class="material-icons">
                    chevron_left
                </i>
            </a>
            <a href="#"
               data-toggle="tooltip" data-placement="top" title="다음">
                <i class="material-icons">
                    chevron_right
                </i>
            </a>

        </div>
        <h4>{{ today.0 }}년 {{ today.1 }}월</h4>

        <ul class="nav nav-tabs view-tab" id="view" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-month" data-toggle="tab" href="#month" role="tab"
                   aria-controls="month"
                   aria-selected="true">월</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-day" data-toggle="tab" href="#day" role="tab" aria-controls="day"
                   aria-selected="false">일</a>
            </li>

        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active show" id="day" role="tabpanel" aria-labelledby="tab-day">
            <div class="daily-calendar">
            <span class="day-name">3일 화요일</span>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function(){

schedules = {{ schedules|safe }}

console.log(schedules);

    $('.input-group').css({ "width" : "50"});


    schedules.forEach(function (schedule){

        for(i in schedule['schedule_bars']){
            var $scheduleBar = schedule['schedule_bars'][i];

            $(".daily-calendar").append($scheduleBar);

        };
    });
});
</script>
{% endblock %}